body {
    font-weight: 200;
    color: white;
    background-color: #ffa6e1; 
}
p {
    width: 350px;
    margin: 0 auto;
}

.b {

    border: 0;
    border-radius: 10px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: dimgrey;
    background: pink;
}
button:hover {
    background: black;
}


