@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Bagel+Fat+One&family=Bungee&family=Dancing+Script:wght@400..700&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+HK:wght@100..900&family=Pacifico&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titan+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
body {
    
    font-weight: 200;
    color: white;
    background-color: rgb(255, 166, 225); 
}
h1 {
    font-family: "Source Code Pro";
    color: grey;
}
p {
    font-family: 'Titan One';
    width: 350px;
    margin: 0 auto;
}

.b {
    font-family: "Nata Sans";
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: white;
    background: dimgrey;
}
.b:hover {
    background: black;
}













